@charset "UTF-8";

body {
    font-family: proxima_nova_rgregular;
    letter-spacing: 1px;
}

/*NAVBAR STYLES*/
.navbar,
.navbar-brand {
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-brand p.navbar-brand-tag {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.navbar-custom {
    background: #55CE6F;
    min-height: 54px;
}

.navbar-custom a {
    color: white;
}

.navbar-brand:hover,
.navbar-brand:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
    background: inherit;
    color: black;
}

.navbar-toggle .icon-bar {
    background: white;
}

@media (min-width: 768px) {

    .navbar.navbar-custom .col-xs-12,
    .content-area .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar {
        margin-bottom: 5px;
    }
    .navbar-brand {
        padding-bottom: 0;
        padding-top: 9px;
    }

    .navbar-nav > li > a {
        padding-top: 28px;
        padding-bottom: 4px;
    }

    .navbar-nav > li:last-child > a {
        padding-right: 0;
    }

    .dropdown-menu {
        min-width: 126px;
        left:0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        border-top: 1px #55CE6F solid;
        padding: 0;
    }

    .navbar-right .dropdown-menu {
        left: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
     }
}

.navbar .dropdown > .dropdown-toggle > .caret {
    display: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: white;
    color: #FE5F55;
}
/*Nav colours*/
/*.dropdown-menu > li > a[title="Sculpture"]:hover,
.dropdown-menu > li > a[title="Sculpture"]:focus,
.dropdown-menu > .active > a[title="Sculpture"],
.dropdown-menu > .active > a[title="Sculpture"]:hover,
.dropdown-menu > .active > a[title="Sculpture"]:focus {
    color:#0c00ff;
}

.dropdown-menu > li > a[title="Site-specific"]:hover,
.dropdown-menu > li > a[title="Site-specific"]:focus,
.dropdown-menu > .active > a[title="Site-specific"],
.dropdown-menu > .active > a[title="Site-specific"]:hover,
.dropdown-menu > .active > a[title="Site-specific"]:focus {
    color: #FE5F55;
}

.dropdown-menu > li > a[title="Sound"]:hover,
.dropdown-menu > li > a[title="Sound"]:focus,
.dropdown-menu > .active > a[title="Sound"],
.dropdown-menu > .active > a[title="Sound"]:hover,
.dropdown-menu > .active > a[title="Sound"]:focus {
    color: #C7EFCF;
}

.dropdown-menu > li > a[title="Video"]:hover,
.dropdown-menu > li > a[title="Video"]:focus,
.dropdown-menu > .active > a[title="Video"],
.dropdown-menu > .active > a[title="Video"]:hover,
.dropdown-menu > .active > a[title="Video"]:focus {
    color: #E63462;
 }

.dropdown-menu > li > a[title="Drawing"]:hover,
.dropdown-menu > li > a[title="Drawing"]:focus,
.dropdown-menu > .active > a[title="Drawing"],
.dropdown-menu > .active > a[title="Drawing"]:hover,
.dropdown-menu > .active > a[title="Drawing"]:focus {
    color: #ef6bcb;
}

.dropdown-menu > li > a[title="Online"]:hover,
.dropdown-menu > li > a[title="Online"]:focus,
.dropdown-menu > .active > a[title="Online"],
.dropdown-menu > .active > a[title="Online"]:hover,
.dropdown-menu > .active > a[title="Online"]:focus {
    color: #00D3CD;
}*/


/*home and archive grid pages*/

.archive-title {
    margin: 0;
}

.archive-year {
    margin-top: 20px;
    margin-bottom: 0;
}

div:nth-child(3) > div > h4.archive-year {
    margin-top: 0;
}

.box,
.box-img {
    position: relative;
    height: 300px;
    margin-bottom: 10px;
}

.box-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background-color: white;
}

.box:hover .box-inner {
    opacity: 0.8;
}

.box-inner-text {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 0;
    color: black;
    width: 100%;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .no-gutter {
        padding: 0;
    }

    .box-row {
        padding-bottom: 5px;
    }
    .box-container.first {
        padding-left: 5px;
        padding-right: 2.5px;
    }

    .box-container.middle {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .box-container.last {
        padding-left: 2.5px;
        padding-right: 5px;
    }

    .box,
    .box-img {
        height: 167.5px;
        margin-bottom: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .box,
    .box-img {
        height: 222.5px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .box,
    .box-img {
        height: 272.5px;
    }
}


/* Work page */
.columnizer .first.column p {
    padding-right: 15px;
}
.columnizer .last.column p {
    padding-left: 15px;
}
/*.owl-centered .owl-stage {
  display: table !important;
}*/
.owl-centered .owl-item {
    display: table-cell;
    float: none;
    vertical-align: middle;
    background-color: black;
}
.owl-centered .owl-item > div {
  text-align: center;
}

/*OWL TEXT*/
.owl-information {
    width: 100%;
    min-height: 20px;
}

.owl-information .owl-caption {
    float: right;
}

.owl-information .owl-number {
    float: left;
}

.owl-carousel .owl-textarea .owl-caption p,
.owl-carousel .owl-textarea .owl-number p {
    margin: 0;
}


/* OWL NAV*/
.owl-carousel .owl-nav {
    display: none;
}

.owl-carousel:hover .owl-nav {
    display: block;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.owl-theme .owl-nav [class*='owl-'],
.owl-theme .owl-nav [class*='owl-']:hover {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
    height: 100%;
    text-align: center;
    color: black;
}

.owl-theme .owl-nav .owl-prev {
    float: left;
}

.owl-theme .owl-nav .owl-next {
    float: right;
}


/*.owl-centered .owl-item > div {
  display: none;
}

.owl-centered .owl-item.active > div {
  display: block;
}*/


.work-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.work-info>p {
    margin: 0;
}


.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}